@mixin button($color) {
    background-color: $color;
    padding: 15px 40px;
    color: white;
    transition: all 0.3s;
    font-family: $font-sans;
    font-weight: 700;

    &:hover {
        background-color: lighten($color, 8);
        transition: all 0.3s;
    }
}