.primary-nav {
    position: fixed;
    z-index: 40;
    top:0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: $color-black;
    display: none;

    @include bpl() {
        display: block;
    }

    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    a {
        color: white;
        font-size:18px;
        padding: 0 15px;

        &:first-child {
            margin-right: auto;
            padding: 0;
        }
    }
}