.primary-nav {
  position: relative;
  z-index: 40;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: $color-brown;
  display: none;

  @include bpl() {
    display: block;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include bpl() {
      padding: 0 200px;
    }

    &>* {
      flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
  }

  .logo {
    flex-direction: column;

    svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 4px;
      transform: rotate(-20deg);

      g {
        fill: $color-yellow;
      }
    }

    span {
      font-size: 12px;
      color: $color-white;
      font-family: $font-sans;
    }
  }

  .menu {
    li {
      display: inline;
      margin: 0 15px;
      a {
        color: white;
        font-family: $font-sans;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}
