.primary-nav {
  position: relative;
  z-index: 40;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  background-color: $color-brown;
  display: none;

  @include bpl() {
    display: block;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    margin-right: auto;
    padding: 0;

    svg {
      display: block;
    }
  }

  .menu {
    li {
      display: inline;
      a {
        color: white;
        margin-left: 15px;
        font-family: $font-sans;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}
