//// Variables

// Colors
$color-yellow                       :#F7A700;
$color-black                        :#17161A;
$color-white                        :#ffffff;
$color-anthracite                   :#3f494a;

// Box-shadows 
$box-shadow-black                   : 0 4px 74px 0 rgba(0,0,0,.65);

// z-index
$below-content                      : 5;
$content                            : 10;
$above-content                      : 15;

// Fonts

$font-base-size                     : 16px;

$font-base                          : "freight-text-pro";
$font-headings                      : "canela-thin";
$font-sans                          : "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;