//// Variables

// Colors
$color-yellow: #f7a700;
$color-black: #17161a;
$color-white: #ffffff;
$color-anthracite: #3f494a;

// Box-shadows
$box-shadow-black: 0 4px 74px 0 rgba(0, 0, 0, 0.65);
$box-shadow-white: 0 15px 64px 0 rgba(0, 0, 0, 0.24);

// z-index
$below-content: 5;
$content: 10;
$above-content: 15;

// Fonts

$font-base-size: 16px;

$font-base: "freight-text-pro", serif;
$font-headings: "canela", serif;
$font-sans: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
