.homepage--hero {
  position: relative;
  height: 90vh;

  .homepage--hero__slide {
    img {
      object-fit: cover;
      width: 100%;
      height: 90vh;
    }
  }

  .swiper-pagination {
    bottom: 5%;
    left: 5%;
    width: inherit;
  }

  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: transparent;
    border: 2px solid white;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: white;
  }
}

.homepage--featured {
  margin: 40px 0;

  .homepage--featured__photo {
    img {
      object-fit: cover;
      width: 100%;
      height: 300px;
      display: block;
    }
  }

  .homepage--featured__content {
    background-color: black;
    padding: 2em;

    @include bpl() {
      padding: 2em 5em;
    }

    p {
      margin-bottom: 30px;
    }
  }
}

.homepage--stories {
  margin-bottom: 100px;

  img {
    margin-bottom: 25px;
    box-shadow: $box-shadow-black;
  }

  .homepage--stories__content {
    text-align: center;

    h2,
    h3 {
      color: white;
    }

    h2 {
      font-size: 2.8em;
      a {
        color: white;
      }
    }

    h3 {
      position: relative;
      font-family: $font-sans;
      font-size: 1.2em;
      margin-bottom: 25px;
    }

    .read-more {
      font-family: $font-headings;
    }
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 400px;
  }
}

.homepage--moreStories {
  margin-bottom: 50px;
  text-align: center;
  font-family: $font-base;
  font-size: 1.4em;

  a {
    display: block;
    padding: 2em 0.5em;
    color: white;
    transition: all 0.3s ease;

    &:hover {
      background-color: $color-yellow;
      transition: all 0.3s ease;
    }
  }
}
